html {
  font-family: "Titillium Web", sans-serif;
  color: white;
}

/* Header */

header {
  height: 10vh;
  background-color: #282828;
  color: white;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
}

nav li {
  width: 10vw;
  justify-content: center;
  display: flex;
  font-size: 2.5vh;
}

a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: #555555;
}

/* Landing */

.landing-container {
  height: 90vh;
  background-image: url("../../resources/images/fishing.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.jumbotron {
  margin-top: 15vh;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3vh;
}

.jumbotron h1 {
  font-size: 7vh;
}

.jumbotron h2 {
  font-size: 4vh;
  margin-top: 2vh;
}

.current-button-section {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  align-items: center;
}

.current-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.current-button {
  font-size: 3vh;
  border: 0.25vh solid white;
  padding: 2vh;
  margin: 2vh 2vw;
}

.current-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Fish */

.fishes-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fishes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10vh;
}

.fish {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
  color: black;
  background-color: #282828;
  padding: 2vh;
  margin: 2vh;
  color: white;
  line-height: 1.2;
}

.fish .fish-common h1 {
  font-size: 3.5vh;
}
.fish .fish-common h2 {
  font-size: 2vh;
  margin-bottom: 2vh;
}

.fish .fish-scientific h1 {
  font-size: 3.5vh;
}
.fish .fish-scientific h2 {
  font-size: 2vh;
  margin-bottom: 2vh;
  font-style: italic;
}

.fish .family h1 {
  font-size: 3.5vh;
}
.fish .family h2 {
  font-size: 2vh;
  margin-bottom: 2vh;
}

.fish .guess h1 {
  font-size: 3.5vh;
}
.fish .guess h2 {
  font-size: 2vh;
  margin-bottom: 2vh;
}

/* Food web */

.food-web-section {
  display: flex;
  justify-content: center;
  color: black;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.food-web-title {
  font-size: 5vh;
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.food-web img {
  height: 90vh;
  border: 2vh blue solid;
}


/* Catfish */

.catfish-section {
  display: flex;
  background: -webkit-linear-gradient(-45deg, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10-25,Safari5.1-6 */
  justify-content: center;
  margin-top: 10vh;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10vh;
}

.catfish-title {
  display: flex;
  font-size: 5vh;
  margin-top: 4vh;
  flex-direction: column;
  text-align: center;
}

.catfish-title h1,
.catfish-title img {
  margin: 2vh;
}

.catfishinfos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.catfishinfo {
  display: flex;
  flex-direction: column;
  width: 25vw;
  padding: 2vh;
  margin: 2vh;
  background-color: #2106A6;
}

.infotitle {
  font-size: 3.5vh;
  margin-bottom: 1vh;
}

.info-content {
  font-size: 2vh;
  line-height: 1.2;
}

.catfishinfo ul {
  list-style: disc;
  margin-left: 2vw;
}

.catfishinfo em {
  font-style: italic;
}

.diagram-section {
  display: flex;
  justify-content: center;
}

.diagrams {
  flex-direction: column;
}

.diagram img {
  width: 70vw;
}

.diagram {
  margin: 2vh;
}

/* Common and scientific */

.species-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10vh;
}

.speciesmore {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.species {
  display: flex;
  flex-direction: column;
  padding: 2vh;
  background-color: #282828;
  margin: 2vh;
  width: 15vw;
  line-height: 1.2;
  font-size: 2.3vh;
}

.section-title {
  font-size: 5vh;
  text-align: center;
  margin: 2vh auto;
  color: black;
  margin-top: 8vh;
}

.species-scientific {
  font-style: italic;
}

.fish-title {
  font-size: 5vh;
  color: black;
  text-align: center;
  margin-top: 5vh;
}

/* Footer */

footer {
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  height: 9vh;
  align-items: center;
}

footer h1 {
  margin: 2vh;
}
