html {
  font-family: "Titillium Web", sans-serif;
  color: white;
}

/* Header */

header {
  height: 10vh;
  background-color: #282828;
  color: white;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
}

nav li {
  width: 10vw;
  justify-content: center;
  display: flex;
  font-size: 2.5vh;
}

a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: #555555;
}
