html {
  font-family: "Titillium Web", sans-serif;
  color: white;
}

/* Header */

header {
  height: 10vh;
  background-color: #282828;
  color: white;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
}

nav li {
  width: 10vw;
  justify-content: center;
  display: flex;
  font-size: 2.5vh;
}

a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: #555555;
}

/* Landing */

.landing-container {
  height: 90vh;
  background-image: url("../../resources/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.landing {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.jumbotron {
  margin-top: 15vh;
  color: white;
  text-align: center;
}

.jumbotron h1 {
  font-size: 7vh;
}

.jumbotron h2 {
  font-size: 4vh;
  margin-top: 2vh;
}

.current-button-section {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.current-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.current-button {
  font-size: 3vh;
  border: 0.25vh solid white;
  padding: 2vh;
  margin: 2vh 2vw;
}

.current-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* Projects */

.project-section,
img {
  width: 30vw;
}

.project-section {
  margin: 2vw 0;
}

.project-section div {
  margin: 0 1vh;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #555555;
  padding-top: 5vh;
}

.project {
  display: flex;
  flex-direction: row;
  background-color: #282828;
  padding: 5vh 7vh;
  color: white;
  margin: 3vh auto;
}

.project h1 {
  font-size: 5vh;
  margin-bottom: 2vh;
}

.project p {
  font-size: 3vh;
  font-weight: 300;
}

.project:hover {
  background-color: #7d7d7d;
}
