html {
  font-family: "Titillium Web", sans-serif;
  color: white;
}

/* Header */

header {
  height: 10vh;
  background-color: #282828;
  color: white;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
}

nav li {
  width: 10vw;
  justify-content: center;
  display: flex;
  font-size: 2.5vh;
}

a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: #555555;
}

/* Landing */

.landing-container {
  height: 150vh;
  background-image: url("../../resources/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.landing {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.jumbotron {
  margin-top: 15vh;
  color: white;
  text-align: center;
}

.jumbotron h1 {
  font-size: 7vh;
}

.jumbotron h2 {
  font-size: 4vh;
  margin-top: 2vh;
}

/* Directions */

#title {
  font-size: 5vh;
  margin-bottom: 5vh;
}

.directions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15vh auto;
}

.directions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.direction {
  display: flex;
  flex-direction: column;
  width: 20vw;
  text-align: center;
  background-color: #282828;
  padding: 2vh;
  margin: 2vh 2vw;
  flex-shrink: 1;
}

.direction-title {
  font-size: 3.5vh;
}

.direction div {
  margin: 2vh auto;
}

.direction-content {
  font-size: 2vh;
  line-height: 1.3;
}

.direction-button {
  background-color: #555555;
  padding: 1vh;
  width: 10vw;
}

.direction-button:hover {
  background-color: #282828;
  background-color: #882829;
}

/* Footer */

footer {
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  height: 9vh;
  align-items: center;
}

footer h1 {
  margin: 2vh;
}
